<template>
    <div class="container-fluid d-flex justify-content-center">
      <div class="card text-center">
        <div class="card-header">
          <h3>Laboratorio 2 Tercer Cómputo</h3>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li>David Isaac Fernandez Chicas</li>
            <li>Alfredo Jose Zelaya Lainez</li>
            <li>Melvin Josue Perez Garcia</li>
            <li>Edwin Adony Ulloa Diaz</li>
            <li>Melvin Josue Pereira Amaya</li>
          </ul>
        </div>
      </div>
    </div>
  </template>
  