<template>
    <div class="container-fluid d-flex justify-content-center">
      <div class="card">
        <div class="card-header">
          <h2>Formulario de Contacto</h2>
        </div>
        <div class="card-body">
          <form>
            <div>
              <label for="name">Nombre: </label>
              <input type="text" id="name" v-model="name" />
            </div>
            <div>
              <label for="email">Email: </label>
              <input type="email" id="email" v-model="email" />
            </div>
            <div>
              <label for="phone">Teléfono: </label>
              <input type="tel" id="phone" v-model="phone" />
            </div>
            <button @click="submitForm">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        name: '',
        email: '',
        phone: ''
      };
    },
    methods: {
      submitForm() {
        // Lógica para enviar el formulario
      }
    }
  };
  </script>
  
  <style>
  /* Estilos para el componente */
  </style>
  